<mat-card class="example-card mat-elevation-z8">
    <mat-card-header>
      <mat-card-title>Add a new incident</mat-card-title>
    </mat-card-header>
   
    <mat-card-content class="example-container">
        <mat-form-field>
            <input [(ngModel)]="source" matInput placeholder="Source">
            <mat-hint>Phone</mat-hint>
        </mat-form-field>  
        <mat-form-field>
                <input [(ngModel)]="technicianName" matInput placeholder="Technician Name">
                <mat-hint>Jose Toledo</mat-hint>
        </mat-form-field>     
        <mat-form-field>
                <input [(ngModel)]="requestorName" matInput placeholder="Requestor Name">
                <mat-hint>Jimmy Fuentes</mat-hint>
        </mat-form-field>
         <mat-form-field>
            <input [(ngModel)]="callbackMethod" matInput placeholder="Callback Method">
            <mat-hint>Cellphone</mat-hint>
        </mat-form-field>       
        <mat-form-field>
                <input [(ngModel)]="symptomsDescription" matInput placeholder="Symptoms Description">
                <mat-hint>Computer is not connecting to the wifi</mat-hint>
        </mat-form-field>
         <mat-form-field>
            <input [(ngModel)]="location" matInput placeholder="Location">
            <mat-hint>SPS</mat-hint>
        </mat-form-field>       
        <mat-form-field>
                <input [(ngModel)]="department" matInput placeholder="Department">
                <mat-hint>Finance</mat-hint>
        </mat-form-field>
         <mat-form-field>
            <input [(ngModel)]="affectedUser" matInput placeholder="Affected User">
            <mat-hint>Jorge Alvarenga</mat-hint>
        </mat-form-field>       
        <mat-form-field>
                <input [(ngModel)]="affectedService" matInput placeholder="Affected Service">
                <mat-hint>Internet connection</mat-hint>
        </mat-form-field>
         <mat-form-field>
            <input [(ngModel)]="incidentPriority" matInput placeholder="Incident Priority">
            <mat-hint>Urgent, Normal, Low</mat-hint>
        </mat-form-field>       
        <mat-form-field>
                <input [(ngModel)]="incidentSummary" matInput placeholder="Incident Summary">
                <mat-hint>Unable to connect to the internet</mat-hint>
        </mat-form-field>
        <mat-form-field>
                <input [(ngModel)]="incidentType" matInput placeholder="Incident Type">
                <mat-hint>Network</mat-hint>
        </mat-form-field>
         <mat-form-field>
            <input [(ngModel)]="incidentSubtype" matInput placeholder="Incident Subtype">
            <mat-hint>Internet connection</mat-hint>
        </mat-form-field>       
        <mat-form-field>
                <input [(ngModel)]="incidentCategory" matInput placeholder="Incident Category">
                <mat-hint>Lost connectivity</mat-hint>
        </mat-form-field>
         <mat-form-field>
            <input [(ngModel)]="incidentStatus" matInput placeholder="Incident Status">
            <mat-hint>Open</mat-hint>
        </mat-form-field>       
        <mat-form-field>
                <input [(ngModel)]="incidentActivity" matInput placeholder="Incident Activity">
                <mat-hint>The computer was restarted.</mat-hint>
        </mat-form-field>
        <mat-form-field>
            <input [(ngModel)]="incidentResolution" matInput placeholder="Incident Resolution">
            <mat-hint>The network adapter was replaced.</mat-hint>
    </mat-form-field>
     <mat-form-field>
                <input [(ngModel)]="incidentResolutionCategory" matInput placeholder="Incident Resolution Category">
                <mat-hint>Hardware replacement</mat-hint>
        </mat-form-field>
         <mat-form-field>
                <input [(ngModel)]="customerFeedback" matInput placeholder="Customer Feedback">
                <mat-hint>1-10</mat-hint>
        </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button class="mat-elevation-z4" (click)="addIncident()" mat-button>CREATE</button>
    </mat-card-actions>
</mat-card>